# Backend Settings
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=password
DB_NAME=madad_vision
DATABASE_URL=postgresql://user:password@localhost:5432/madad_vision
JWT_SECRET=supersecret

# Web Settings
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_WS_URL=http://localhost:3001

# AI Engine Settings
BACKEND_URL=http://localhost:3001
